<div class="main">
    <!-- Sing in  Form -->
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="/assets/images/signin-image.jpg" alt="sing up image"></figure>
                    <a [routerLink]="signupPath" class="signup-image-link">Create an account</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Forgot Password</h2>
                    <form [formGroup]="fogotPasswordForm" (ngSubmit)="onSubmit()" id="login-form">
                        <div class="form-group">
                            <label for="Email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" formControlName="Email" name="Email" id="Email" placeholder="Your Email" [ngClass]="{ 'is-invalid': submitted && Email.errors }"/>
                            <div *ngIf="submitted && Email.errors" class="invalid-feedback">
                                <div *ngIf="Email.hasError('required')">Email is required</div>
                                <div *ngIf="Email.errors?.['email']">Email is Invalid</div>
                            </div>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Send Mail"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>