.signup-image figure img {
    box-shadow: 0px 0px 10px 10px #444 inset;
    border-radius: 25px;
}
.signup-image{
    margin: 0px !important;
    margin-top: 0px !important;
}
.form-submit{
    margin-left: 5px;
}
.cancel-button{
    background:#5f6a74;
}
.cancel-button:hover {
    background: #2e3031;
}
.show{
    display: block !important;
}
.mat-datepicker-toggle{
    float: right;
    position: relative;
    margin-top: -35px;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}
.validation{
    display: block;
}


